* {

    font-family:"Monaco", Verdana, "Geneva", Tahoma, sans-serif;
    background-color: rgb(237, 244, 251);
    font-size: 40px;
    line-height: 1.5;

}

h1 {

    font-size: 80px;
    font-weight: 800;
    color: rgb(58, 131, 171);
}

#description {

    font-size: 60px;

}