* {

    font-family:"Monaco", Verdana, "Geneva", Tahoma, sans-serif;
    background-color: rgb(237, 244, 251);
    text-align: center;

}

h1 {

    font-size: 100px;
    font-weight: 800;
    color: rgb(58, 131, 171);
}

li {
    font-size: 60px;
    line-height: 2;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: rgb(78, 69, 178);
    background-color: rgb(208, 250, 250);
}

.recipe-name {

    border: 5px solid rgb(78, 69, 178);
    margin: 10px auto;
    border-radius: 25px;
    width: 800px;
    display:block;
    text-align: center;
    background-color: rgb(208, 250, 250);
}